<h1>Geospatial Company Project Database</h1>
<h2>Certifications</h2>
<div id="certTableDiv"></div>
</br>
<div id="input">
	<fieldset>
		<legend>Enter New Certification Data here:</legend>
		<div>
			<label for="cert_name">Certification Name: </label>
			<input type="text" name="cert_name" id="cert_name" required >
		</div>
		<br>
		<input type="submit" id="inputSubmit">	
	</fieldset>
</div>
</br>

<div class = "page_nav">
	<a href="./">Employees</a>
	<a href="./offices">Offices</a>
	<a href="./project_data">Project_data</a>
	<a href="./works_on">Assignments</a>
</div>
<script src="cert_button.js"></script>
