<h1>Geospatial Company Project Database</h1>
<h2>Offices</h2>
<div id="officeTableDiv"></div>
</br>
<div id="input">
	<fieldset>
		<legend>Enter New Office Data here:</legend>
		<div>
			<label for="city">City: </label>
			<input type="text" name="city" id="city" required >
		</div>
		<br>
		<div>
			<label for="state">State: </label>
			<input type="text" name="state" id="state" required > 
		</div>
		<br>
		<input type="submit" id="inputSubmit">	
	</fieldset>
</div>
</br>

<div class = "page_nav">
	<a href="./">Employees</a>
	<a href="./project_data">Project Data</a>
	<a href="./certifications">Certifications</a>
	<a href="./works_on">Assignments</a>
</div>
<script src="office_button.js"></script>
