<h1>Geospatial Company Project Database</h1>
<h2>Project Data</h2>
<div id="pdTableDiv"></div>
</br>
<div id="input">
	<fieldset>
		<legend>Enter New Project Data here:</legend>
		<div>
			<label for="client">Client: </label>
			<input type="text" name="Client" id="Client" required >
		</div>
		<br>
		<div>
			<label for="request_date">Request Date: </label>
			<input type="text" name="request_date" id="request_date" required > 
		</div>
		<br>
		<div>
			<label for="due_date">Due Date: </label>
			<input type="text" name="due_date" id="due_date" required > 
		</div>
		</br>
		<div>
			<label for="data_type">Data Type: </label>
			<input type="text" name="data_type" id="data_type" required > 
		</div>
		<br>
		<div>
			<label for="coordinates">Coordinate System: </label>
			<input type="text" name="coordinates" id="coordinates" required > 
		</div>
		<br>
				<div>
			<label for="budget">Budget: </label>
			<input type="text" name="budget" id="budget" required > 
		</div>
		<br>
		<div>
			<label for="hours_charged">Hours Charged: </label>
			<input type="text" name="hours_charged" id="hours_charged" required > 
		</div>
		<br>
		<div>
			<label for="cert_required">Certification Required: </label>
			<input type="text" name="cert_required" id="cert_required" required > 
		</div>
		<br>
		<input type="submit" id="inputSubmit">	
	</fieldset>
</div>
</br>

<div class = "page_nav">
	<a href="./">Employees</a>
	<a href="./offices">Offices</a>
	<a href="./certifications">Certifications</a>
	<a href="./works_on">Assignments</a>
</div>
<script src="pd_button.js"></script>
